{% extends 'base.html' %}

{% block content %}
<div class="container">
        <div class="page">
            <div class="page__title">
               {{news_item.header}}
            </div>
            <div class="page__photo">
                <img src="{{news_item.photo_link}}" alt="photo" class="page__photo-img">
            </div>
            <div class="page__description">
               {{news_item.content}}
            </div>
            <div class="page__link">
                <a href="{{news_item.article_link}}">Ссылка на оригинальную статью</a>
            </div>
        </div>
    </div>
{% endblock %}